<h1>Welcome to Andrew's Page</h1>

<% name = "Andrew" %>

<% family1 = ["Amanda", "Jono", "Tina", "Ben"] %>
<% family2 = {girlfriend: "Amanda", brother: "Jono", mother: "Tina", father: "Ben"} %>

<h4>This list has the names of the people in <%= name.upcase + "'S" %> family</h4>
	<ul>
		<%family1.each do |x|%>
		<li><%= x %></li>
		<% end %>
	</ul>

<h4>This list has the names of the people in <%= name.capitalize + "'s" %> family</h4>
	<ul>
		<%family2.each do |x, y|%>
		<li> Andrew's <%= x %> is <%= y %></li>
		<% end %>
	</ul>
